@charset "UTF-8";

	h1 {
		margin: 30px 30px 15px 30px;
		font-size: 20px;
	}
	
	.report-body-container {
		width: 1080px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 200px 800px;
	}
	
	.report-body-left {
		border-right: 1px solid rgb(240,240,240);
		height: 600px;
	}
	
	.report-body-left a {
		position: relative;
		top: 5px;
	}
	
	.report-body-left h1 {
		font-size: 15px;
	}
	
	#report-table {
		width: 760px;
		text-align: center;
		margin: 0 auto;
		position: relative;
		left: 50px;
		top: 30px;
		border-collapse: collapse;
		table-layout: fixed;
	}
	
	#report-table th {
		padding: 10px 0px;
	}
	
	#report-table td {
		padding: 5px 0px;
		overflow:hidden;
		white-space : nowrap;
		text-overflow: ellipsis;
	}
	
	#report-table tr:nth-child(1) {
		border-bottom: 1px solid rgb(240,240,240);
	}
	
	#report-table th:nth-child(1) {
			width: 80px;
	}
	#report-table th:nth-child(2) {
			width: 120px;
	}
	#report-table th:nth-child(3) {
			width: 180px;
	}
	#report-table th:nth-child(4) {
			width: 400px;
	}
	
/* 	.error { */
/* 		margin: 0 auto; */
/* 		text-align: center; */
/* 		height: 300px; */
/* 		position: relative; */
/* 		background: silver; */
/* 	} */