@charset "UTF-8";

/* normalize */
* {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	text-align: center;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	width: 240px;
	height: 240px;
	border-radius: 30%;
}

.top_club_list {
	
}

.club {
	float: left;
	box-sizing: border-box;
	padding: 20px 40px;
}

.img {
	width: 250px;
	height: 250px;
}

.text {
	width: 250px;
	height: 250px;
}

.text > h2 {
	font-size: 20px;
	margin-bottom: 5px;
}

.text > h2:hover {
	text-decoration: underline;
}

.text > p {
	margin-bottom: 1px;
}









