@charset "UTF-8";
#main{
	margin-left: 200px;
}


.input{
	margin-bottom: -10px;
	float: right;
	padding-top: 5px;
	
}


.category{
	font-size: 13px;
	font-weight: bold;
}

textarea{
	resize: none;
}

.button_style{
	background-color: #E0E0E0;
	padding: 5px 20px 5px 20px;
	margin: 15px 80px 0px 100px;
}

.button_style:hover {
	cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
