@charset "UTF-8";

/* ------ normalize ------ */
* {
	list-style: none;
	padding: 0;
	margin: 0;
}
/* ----------------------- */

.header {
	height: 15%;
	background-color: blue;
}

.main_left {
	width: 15%;
	height: 75%;
	float: left;
	background-color: green;
}

.main_right {
	width: 85%;
	height: 75%;
	float: right;
	overflow: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

/* -------- 인기 클럽 -------- */
.top_club_list {
	border: 1px solid black;
	padding-left: 10px;
	padding-bottom: 10px;
}

.top_club_list .img_area {
	width: 150px;
	height: 130px;
}

.top_club_list .img_area img{
	width: 100px;
	height: 100px;
}

.top_club_list .text_area {
	width: 155px;
	text-align: center;
}

.top_club_list .text_area > h2 {
	font-size: 17px;
}

.top_club_title {
	text-align: left;
	margin-top : 10px;
	margin-left: 15px;
}
/* ------------------------ */

/* -------- 일반 클럽 -------- */
.club_list {
	padding-left: 3px;
	padding-top: 10px;
}

.club {
	display: inline-block;
	box-sizing: border-box;
	margin: 6px 25px;
}

.club_sort {
	margin: 35px 0px 40px 22px;
}

.club_title {
	text-align: left;
	margin-top : 10px;
	margin-left: 20px;
}

.club_sort > a {
	font-size: 20px;
	font-weight: bold;
	margin-right: 15px;
}
/* ------------------------ */

.img_area {
	width: 200px;
	height: 180px;
	overflow: hidden;   /* 틀은 고정된 채로 이미지만 확대 */
	
	/* 내부 요소 중앙 정렬 */
	display: flex;
	justify-content: center;   /* 수평 정렬 */
  	align-items: center;	   /* 수직 정렬 */
}   

.img_area img {
	width: 150px;
	height: 150px;
	margin: 5px;
	border-radius: 30%;
	transition: all 0.2s linear;   /* 부드럽게 확대 */
}

.img_area:hover img {
	transform: scale(1.1);   /* 이미지 확대 */
}

.text_area {
	width: 200px;
	text-align: center;
}

.text_area > h2 {
	font-size: 20px;
}

.text_area > h2:hover {
	text-decoration: underline;
}

.text_area > p {
	margin-bottom: 1px;
}

.footer {
	height: 10%;
	background-color: red;
	clear: both;
}
