@charset "UTF-8";
/* 아이디, 비밀번호 찾기 공통 css form  */

.logo-container {
		width: 100%;
		height: 150px;
		border-bottom: 1px solid rgb(240,240,240);
		text-align: center;
}
#input-form{
	height: 200px;
    text-align: center;
    margin-top: 35px;

}

h1{
	text-align: center;
	margin-top: 10px;
    margin-bottom: 10px;
}
h2{
	height: 50px;
	margin-left: 10px;
	font-weight: normal;
}

h4{
	margin-left : 15px;
	font-weight: normal;
	color: #999999;
	margin-top: 15px;
}
#container{	
	width : 100%;
	height : 702px;
	background: #F0F0F0;
	
}

#find-form{	
	width : 500px;
	height : 700px;	
	margin : 0 auto;
	border : 1px solid #D3D3D3;
	background: white;
}

#btn-form{
	height: 80px;
	margin-bottom: 70px;
}

#a-id::after{
	content: '';
    display: block;
    width: 1px;
    height: 30px;
    position: absolute;
    z-index: 2;
    left: 248px;
    top: 24px;
    background: #D3D3D3;
}

.a-find{
	display : block;
	position : relative;
	width : 249px;
	height : 80px;
	float : left;
	text-align: center;
	border-bottom: 1px solid #D3D3D3;
}
.span-find{
	display: block;
    margin-top: 25px;
    font-size: 20px;
}
