@charset "UTF-8";


#input-form{
	height: 200px;
    text-align: center;
    margin-top: 35px;

}

.btn-find{
	width: 247px;
	height: 80px;
	background: white;
	font-size: 20px;
	border : 1px solid black;
	cursor: pointer;
	
}


.input-name-tel{
	width : 280px;
	height: 55px;
	border : none;
	outline : 1px solid #D3D3D3;
	font-size: 20px;
	margin-bottom: 15px;
}

.input-name-tel:focus{
	outline : 1px solid #A1D8EF;

}

#accept-authNum{
	width: 280px;
    height: 50px;
    background: white;
    border : 1px solid skyblue;
    font-size : 20px;
    color : skyblue;
    cursor: pointer;
}

#chk-authNum{
	width: 160px;
    height: 40px;
    margin-top: 10px;
    font-size: 15px;
    border: 1px solid #D3D3D3;
    
}

#chk-btn{
	width: 90px;
    height: 30px;
    background: white;
    border: 1px solid skyblue;
    color: skyblue;
    font-weight: bold;
    cursor: pointer;
}

#submit-btn{
	width : 280px;
	height : 60px;
	margin-top : 15px;
	margin-bottom: 5px;
	background: skyblue;
	border: none;
	cursor: pointer;
	color: white;
	font-size : 20px;
}


.warn{
	display: block;
    color: #FF3800;
    font-size: 13px;
    margin-bottom: 12px;
}