@charset "UTF-8";

* {
		margin: 0;
		padding: 0;
		font-family: "맑은 고딕";
	}

	header {
		width: 1080px;
		margin: 0 auto;
	}

	.nav-color-width{
		width: 100%;
		background: rgb(244, 244, 244);
		z-index: -1;
		position: absolute;
		height: 35px;
	}

	.nav {
		width: 100%;
		text-align: right;
		padding: 8px 0px;
	}
	
	.logo-search-container {
		width: 100%;
		height: 160px;
		border-bottom: 1px solid rgb(240,240,240);
	}
	
	a {
		text-decoration: none;
		color : black;
	}
	
	.nav-a {
		margin: 0px 15px;
		font-size: 11px;
		font-weight: bold;
		color: grey;
	}
	
	.logo-search {
		padding: 20px;
		margin: 0 auto;
		width: 750px;
	}
	
	#logo {
		position:relative;
		left: -20px;
		width: 250px;
		height: 150px;
	}
	
	#searchIcon {
		width: 35px;
		height: 20px;
	}
	
	#searchbar {
		border: 0px;
		background: rgb(244,244,244);
		border-radius: 15px;
		width: 400px;
		height: 25px;
		position: relative;
		top: -85px;
		left: -20px;
		padding: 8px 20px;
		margin: 0px 20px;
		font-weight: bold;
	}
	
	#searchbar::placeholder {
		font-weight: bold;
		color: rgb(200,200,200);
	}
	
	.body-container {
		width: 1080px;
		margin: 0 auto;
	}
	
	.category h1 {
		margin: 30px;
		padding: 10px;
		font-size: 20px;
		border-bottom: 1px solid rgb(240,240,240);
		width: 650px;
	}
	
	.category {
		margin: 0 auto;
		width: 768px;
		
	}
	
	.category-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	
	.meeting {
		margin: 15px 30px;
		position: relative;
		width: 160px;
		height: 90px;
		border-radius: 10px;
		overflow: hidden;
		background: linear-gradient(
				to right,
				rgb(3, 0, 0),
				rgba(2, 0, 0, 0.52),
				rgba(0, 0, 0, 0));
	}
	
	.meeting img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: 0.8
	}
	
	.meeting span {
		position: absolute;
		top: 60px;
		left: 10px;
		color: white;
		font-weight: bold;
	}
	
	.before-footer {
		height: 100px;
	}
	
	.footer-color-width {
		float:none;
		margin-top: 20px;
		width: 100%;
		background: rgb(244, 244, 244);
		z-index: -1;
		position: absolute;
		height: 350px;
	}
	
	footer {
		width: 1080px;
		height: 150px;
		margin: 0 auto;
		margin-top: 20px;
		font-size: 11px;
		color: grey;
	}
	
	footer a {
		font-size: 11px;
		color: grey;
	}
	
	.footer {
		position: relative;
		top: 80px;
		left: 60px;
	}
	
	.footer p {
		margin: 20px 0px;
	}
	
	.banner {
		width: 1080px;
		height: 253px;
		margin: 20px 0px;
	}
	
	.small-banner {
		margin: 0 auto;
		width: 710px;
		margin-top: 40px;
	}
	
	.small-banner img {
		width: 670px;
	}
	
	.recomd {
		width: 670px;
		margin: 0 auto;
		position: relative;
		left: -20px;
		margin-top: 30px;
	}
	
	.recomd-title {
		border-bottom: 1px solid rgb(240,240,240);
		margin-bottom: 20px;
	}
	
	.recomd h1 {
		display: inline-block;
		font-size: 20px;
		margin-bottom: 10px;
		position: relative;
		left: 5px;
	}
	
	.recomd h1:nth-child(1) {
		color: #FF6773;
		font-size: 30px;
		font-weight: bold;
	}
	
/* 	.hits-rank h2 { */
/* 		position: relative; */
/* 		left: 20px; */
/* 		font-size: 20px; */
/* 		color: black; */
/* 		margin-bottom: 5px; */
/* 	} */
	
	.hits-rank table {
		display: inline-block;
		width: 200px;
		table-layout: fixed;
		text-align: center;
		margin: 0 5px;
		position: relative;
		left: 10px;
	}
	
	.hits-rank th {
		padding: 2px 0px;
	}
	
	.th-title {
		width: 80px;
		color: grey;
		text-align: left;
		font-size: 13px;
	}
	
	.hits-rank img{
		width: 200px;
		height: 160px;
		border-radius: 10px
	}
	
	.hits-rank h2 {
		width: 200px;
		overflow:hidden;
		white-space : nowrap;
		text-overflow: ellipsis;
		font-size: 15px;
	}
	
	.hits-rank p {
		font-weight: bold;
	}
	
	
	@media (max-width: 1920px) {
    .body-container {
        width: 1080px;
    	}
	}
	