@charset "UTF-8";

.contents{
	width: 1080px;
	margin: 0 auto;
	display: grid;
    align-items: center; 
    justify-content: center; 
}


#forEach{
	width: 600px;
}

.user{
	margin-bottom: 10px;
}

.leader{
	margin-top: 15px;
	font-size: 20px;
	font-weight: bold;
	word-wrap: break-word;
}

.border{
	border-bottom: 1px solid rgb(240,240,240);
	margin-bottom: 20px;
}

#title{
	letter-spacing: 3px;
	margin-top: 10px;
	margin-bottom: 20px;
}

#user_question{
	margin-top: 20px;

	
}

#leader_answer{
	margin-top: 20px;
	background-color: #E0E0E0;
	
}

.text {
	width: 500px;
	height: 100px;
    resize: none;
    margin-top: 20px;
}

.user_text {
	width: 500px;
	height: 100px;
    resize: none;
    margin-top: 0px;
}

.answerWrite{
	width: 90px;
	height: 44px;
	text-align: center;
	border-radius: 5px;
	margin-top: 74px;
}

.answerWrite:hover{
	cursor: pointer;
}

.answer_content{
	resize: none;
	border-radius: 5px;
	width: 500px;
	height: 100px;
	margin-top: 20px;
	font-size: 20px;
	font-weight: bold;
}

table{
	border-radius: 5px;
}

#user_content{
	margin-top: 10px;
	margin-bottom: 0px;
}

#leader_text{
	margin-top: 0px;
}

#inquireWrite:hover{
	cursor: pointer;
}

#inquireWrite{
	margin-left: 540px;
	padding: 10px 5px 10px 5px;
}