@charset "UTF-8";

.contents{
	width: 1080px;
	margin: 0 auto;
	display: grid;
    align-items: center; 
    justify-content: center; 
}


#forEach{
	width: 600px;
}

.user{
	margin-bottom: 10px;
}

.leader{
	margin-top: 15px;
	font-size: 20px;
	font-weight: bold;
	word-wrap: break-word;
}

.border{
	border-bottom: 1px solid rgb(240,240,240);
	margin-bottom: 20px;
}

#title{
	letter-spacing: 3px;
	margin-top: 10px;
	margin-bottom: 20px;
}

#user_question{
	margin-top: 20px;

	
}

#leader_answer{
	margin-top: 20px;
	background-color: #E0E0E0;
	
}

.text {
	width: 500px;
	height: 100px;
    resize: none;
    margin-top: 20px;
}

.user_text {
	width: 500px;
	height: 100px;
    resize: none;
    margin-top: 0px;
}

.answerWrite{
	width: 90px;
	height: 44px;
	text-align: center;
	border-radius: 5px;
	margin-top: 74px;
}

.answerWrite:hover{
	cursor: pointer;
}

.answer_content{
	resize: none;
	border-radius: 5px;
	width: 500px;
	height: 100px;
	margin-top: 20px;
	font-size: 20px;
	font-weight: bold;
}

table{
	border-radius: 5px;
}

#user_content{
	margin-top: 10px;
	margin-bottom: 0px;
}

#leader_text{
	margin-top: 0px;
}

#inquireWrite:hover{
	cursor: pointer;
}

#inquireWrite{
	margin-left: 540px;
	padding: 10px 5px 10px 5px;
	background: rgb(0, 117, 239);
	color: #fff;
	border-radius: 5px;
}

/* .btn{ */
/* 	position: relative; */
/* 	left: 600px; */
/* 	padding: 10px 5px 10px 5px; */
/* 	background: rgb(0, 117, 239); */
/* 	text-decoration: none; */
/* 	text-align: center; */
/* 	line-height: 50px; */
/* 	color: #fff; */
/* 	border-radius: 5px; */
/* } */

/* .popup{ */
/* 	position: absolute; */
/* 	left: 50%; */
/* 	top: 50%; */
/* 	width: 600px; */
/* 	height: 350px; */
/* 	box-shadow: 0 0 10px rgba(0,0,0,0.5); */
/* 	background: #fff; */
/* 	border-radius: 5px; */
/* 	text-align: right; */
/* 	padding: 20px; */
/* 	box-sizing: border-box; */
/* 	opacity: 0; */
/* 	z-index: 5; */
/* } */

/* .btn:hover{ */
/* 	cursor: pointer; */
/* } */

/* .popup a{ */
/* 	color: gray; text-decoration: none; */
/* } */

/* .popup:target{ */
/* 	opacity: 1; */
/* } */

/* .popup:target + .dim{ */
/* 	opacity: 1; */
/* 	z-index: 2; */
/* } */

/* .dim{ */
/* 	position: absolute; */
/* 	left: 0; */
/* 	top: 0; */
/* 	z-index: -1; */
/* 	width: 100%; */
/* 	height: 100%; */
/* 	background: rgba(0,0,0,0.6); */
/* 	opacity: 0; */
/* } */

/* #popupClose{ */
/* 	width: 600px; */
/* 	height: 50px; */
/* 	background-color: red; */
/* } */
