* {
	font-family: "맑은고딕";
}

body {
	margin: 0;
	height: 100%;
	font-family: Dotum, '돋움', Helvetica, sans-serif;
}

h1 {
	text-align: center;
	font-family: "맑은고딕";
	margin-bottom: 60px;
}

#register input[type='text'] {
    border-radius:5px; 
}

#register input[type='password'] {
    border-radius:5px; 
}

#register input[type='hidden'] {
    border-radius:5px; 
}

#register input[type='email'] {
    border-radius:5px; 
}

#inner-container {
	margin: 0 auto;
	width: 500px;
	position : relative;
	top: 30px;
}

#registerTable {
	width:500px;
}

#registerTable input{
	position: relative;
	top: 8px;
}

#registerTable tr:nth-child(8) {
	text-align: center;
}

#registerTable td:nth-child(1) {
	text-align: center;
}

#container {
	width: 900px;
	height: 500px;
	margin: 0 auto;
	margin-top: 50px;
	margin-left: 1250px;
}

.jc_button {
	margin: 15px 30px;
}

#joinbutton {
	position: relative;
	left: -20px;
}

#cancelbutton {
	position: relative;
	right: -20px;
}

#btnJoinCancel {
	position: absolute;
	bottom: -35%;
	right: 29%;
	width: 670px;
	height: 30px;
	text-align: right;
	text-decoration: none;
	font-size: 20px;
	color: black;
	border-radius: 20px;
	-webkit-transition: all 0.1s;
	transition: all 0.1s;
	padding: 10px 20px 10px 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

}

.check{
		width : 200px;
		height : 40px;
		margin-left: 70px;
		margin-bottom: 20px;
		border: 1px solid #C6C9CC;
		border-radius: 3px;
		font-size: 20px;
	}

input[type=button] {

    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
