<?xml version="1.0" encoding="UTF-8"?>

<!-- mapper dtd -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.co.jhta.ultali">
<!-- 실행하면 resultType이 필요하다 -->

<insert id="register" parameterType="rdto">
	INSERT INTO member (mem_id , mem_name , rank_no , mem_phone , mem_pw , mem_email) 
	VALUES (#{mem_id} , #{mem_name} , 2 , #{mem_phone} , #{mem_pw} , #{mem_email})
</insert>

<insert id="addAuth" parameterType="hashmap">
	INSERT INTO member_auth 
	VALUES (#{mem_id} , 'ROLE_USER')
</insert>

<!-- 아이디 중복검사 -->
<select id="checkOverId" parameterType="String" resultType="int">
	select count(*) from member where mem_id = #{mem_id}
</select>

</mapper>