<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 
  	MyInfoDto
   -->
  
  <mapper namespace="kr.co.jhta.ultali.myinfo">
  	<select id="showInfo" parameterType="String" resultType="MyInfoDto">
  		SELECT mem_id, mem_name, rank_no, mem_phone,mem_email
  		from member where mem_id = #{mem_id}
  	</select>
  	<delete id="deleteOne" parameterType="String">
  		delete member where mem_id = #{mem_id}
  	</delete>
  	
  	<update id="modifyOne" parameterType="String">
  		update member set 
  	</update>
  	
  	<select id="nicknameChk" parameterType="String" resultType="int">
  		select COUNT(id)
  	</select>
  </mapper>
